<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <div th:align="center">
        <h1>Book List</h1><br>
        <a href="newBook">Add New Book</a> <br><br>
        <table th:border="1" th:width="800" th:height="200">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publisher</th>
            </tr>

            <tr th:each="book: ${books}">
                <td th:text="${book.id}">12</td>
                <td th:text="${book.title}">bookname</td>
                <td th:text="${book.publisher.name}">publisherName</td>
            </tr>
        </table>
    </div>

</body>
</html>